//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

<!DOCTYPE html>
html(lang='ru')
	
	head
		include ./../layouts/error/head.pug
	
	body.fp
		include ./../layouts/error/header.pug

		main.fp_main#fp_main
			.fp_wrapper
				include ./../components/error/405.pug

		include ./../layouts/error/footer.pug