//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

section.fp_error
	
	aside.fp_error-banner
		.fp_error-banner_row
			.fp_error-banner_img
				i.fp_error-banner_icon.fas.fa-desktop
			.fp_error-banner_desc
				h2.fp_error-banner_title Адаптивный дизайн
				h3.fp_error-banner_text Дазайн адаптируется под разные размеры экрана компьютеров, планшетов и мобильных устройств
		.fp_error-banner_row
			.fp_error-banner_img
				i.fp_error-banner_icon.fas.fa-fighter-jet
			.fp_error-banner_desc
				h2.fp_error-banner_title Реактивная система
				h3.fp_error-banner_text Забудьте о постоянных перезагрузках страниц, вся информация подгружается налету
		.fp_error-banner_row
			.fp_error-banner_img
				i.fp_error-banner_icon.fas.fa-shield-alt
			.fp_error-banner_desc
				h2.fp_error-banner_title Надежная защита
				h3.fp_error-banner_text Все данные шифруются и хранятся исключительно на сервере вашего сайта
	
	section.fp_error-form
		
		h1.fp_h1 Error 404
		h2.fp_h2 Упс! Страница потерялась..
		.fp_auth
			h3.fp_h3 Вы можете вернуться на 
				a(href='/') главную страницу
				span . Если вы уверены что вам нужна именно эта страница, свяжитесь со мной любым из способов и сообщите об ошибке, мы обязательно найдем решение проблемы:
			nav.fp_auth-group
				a(href='https://vk.com/write267622348' target='_blank').fp_auth-link.fp_auth-vkontakte
					i.fp_auth-icon.fab.fa-vk
				a(href='mailto:admin@foxplan.ru').fp_auth-link.fp_auth-mail
					i.fp_auth-icon.fas.fa-at