//- 
//- Company: FoxPlan.ru
//- Name: FoxPlan
//- Author: Zubchenko Valentin <admin@foxplan.ru>
//- Version: 1.0.0
//- 

footer.fp_footer#fp_footer
	.fp_footer-copy Copyright © 2019 
		a(href='https://vk.com/v_zubchebko' target='_blank').fp_footer-link Зубченко Валентин

script(src='/js/common.js')
script(src='/js/error.js')